.int-fact {
    font-style: italic;
}

.label {
    font-weight: bold;
}

.details {
    list-style-type: none;
    padding: 0px;
}

.card {
    color: white;
	width: 300px;
    padding: 10px;
    box-shadow: 6px 4px 2px 0px rgb(230, 230, 230)
}

.border {
   border: 1px solid rgba(255, 255, 255, 0.5);
   box-shadow: 4px 4px 10px black;
   border-radius: 5px;
}

.information {
    padding: 0px 10px;
}

.image {
    padding: 10px 0px;
}